<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="MyConnectionString" connectionString="Server=localhost;Database=pelatihan_cSharp;User Id=sa;Password=polman;TrustServerCertificate=True;" />
		<!--<add name="MyConnectionString" connectionString="Data Source=.;Initial Catalog=pelatihan_cSharp;User ID=UserName;Password=Password" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>