<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
  <add name="MyConnectionString" connectionString="Data Source=localhost;Initial Catalog=pelatihan_cSharp;User ID=sa;Password=polman"
   providerName="System.Data.SqlClient" />
 
 </connectionStrings>
</configuration>